<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Users</title>
    <script type="application/javascript" src="js/TimeConverter.js" th:src="@{~/js/TimeConverter.js}">
    </script>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div class="show-all">
    <div th:insert="fragment/navigation-bar::navigation-bar"></div>
    <h3>Users list:</h3>
    <div>
        <table class="zui-table">
            <thead>
            <tr>
                <th>User id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Nickname</th>
                <th>User email</th>
                <th>Created</th>
                <th>User role</th>
                <th>User status</th>
                <th>User subscriptions</th>
                <th>User search requests</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.id}">Id</span></td>
                <td>
                    <a href="#" th:href="@{/admin/details/{id}(id=*{user.id})}"><span th:text="${user.firstName}">
                        First name</span>
                    </a>
                </td>
                <td><span th:text="${user.lastName}">First name</span></td>
                <td><span th:text="${user.age}">Age</span></td>
                <td><span th:text="${user.nickname}">Nickname</span></td>
                <td><span th:text="${user.email}">Email</span></td>
                <td><script>
                    // timeConverter(1591024530939);
                </script></td>
                <td><span th:text="${user.userRole}">User role</span></td>
                <td><span th:text="${user.userStatus}">User status</span></td>
                <td th:if="${user.subscriptions != null}">
                    <span th:text="${user.subscriptions.size()}">Subscriptions</span>
                </td>
                <td th:if="${user.searchHistory != null}">
                    <span th:text="${user.searchHistory.size()}">Search history</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>