<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Update role</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{~/css/style.css}" media="screen"/>
</head>
<body>
<div th:insert="fragment/navigation-bar::navigation-bar"></div>
<div class="show-all">
    <h3>Update user role:</h3>
    <div th:if="${user != null}">
        <table class="zui-table">
            <thead>
            <tr>
                <th>User id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Nickname</th>
                <th>User email</th>
                <th>Created</th>
                <th>User role</th>
                <th>User status</th>
                <th>User subscriptions</th>
                <th>User search requests</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${user.id}">Id</span></td>
                <td><span th:text="${user.firstName}">First name</span></td>
                <td><span th:text="${user.lastName}">First name</span></td>
                <td><span th:text="${user.age}">Age</span></td>
                <td><span th:text="${user.nickname}">Nickname</span></td>
                <td><span th:text="${user.email}">Email</span></td>
                <td th:if="${#request.isUserInRole('ADMIN')}"><script>
                    timeConverter(1591024530939);
                </script></td>
                <td><span th:text="${user.userRole}">User role</span></td>
                <td><span th:text="${user.userStatus}">User status</span></td>
                <td th:if="${user.subscriptions != null}">
                    <span th:text="${user.subscriptions.size()}">Subscriptions</span>
                </td>
                <td th:if="${user.searchHistory != null}">
                    <span th:text="${user.searchHistory.size()}">Search history</span>
                </td>
            </tr>
            </tbody>
        </table>

        <form id="form" name="form" method="post" action="#" th:action="@{/admin/updateRole/{id}(id=${user.id})}"
              th:object="${user}">
            <h1 style="alignment: center">Update role</h1>
            <ul>
                <li th:each="role : ${roles}">
                    <input name="role" type="radio" value="" th:value="${role}" th:name="role">
                    <label th:text="${role}">Role</label>
                </li>
            </ul>
            <button type="submit" class="button">Update</button>
            <div class="spacer"></div>
        </form>
    </div>
</div>
</body>
</html>