<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{~/css/common.css}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}" media="screen"/>
</head>
<body>
<div class="container">
    <form method="POST" class="form-signin" action="login">
        <h2 class="form-heading">Log in</h2>
        <div class="form-group ${error != null ? 'has-error' : ''}">
            <span th:text="${message}"></span>
            <input name="username" type="text" class="form-control" placeholder="Username" autofocus="autofocus"/>
            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span class="has-error" th:text="${error}"></span>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a href="#" th:href="@{/user/registration}">Create an account</a></h4>
        </div>
    </form>
</div>
</body>
</html>